.colorPreviewBox {
  padding: 3px;
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  display: inline-block;
  cursor: pointer;
}
.colorPreview {
  width: 36px;
  height: 14px;
  border-radius: 2px;
}
.circleColorPicker {
  position: absolute;
  z-index: 10;
  background-color: #333;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 3px #777;
  padding: 5px;
}
.photoshopColorPicker {
  position: fixed;
  left: 100px;
  top: 100px;
  z-index: 10;
}
